<h1>ANTHONY's Adventures!</h1>
<h1>Use at your own risk.</h1>

<% @adventures.each do |adventure| %>
	<p> <%=  link_to(adventure.name) %> </p>

<% end %>

<h2>Locally made adventures</h2>




<h2>Adventures from other storytellers</h2>
